<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <%= favicon_link_tag 'favicon.ico' %>
  <title>Ruby Flashcards for Alexa</title>
  <meta name="description" content="Ruby Flashcards for Amazon's Alexa Skills">

</head>

<body>
  Hello and welcome to Ruby Flashcards for Alexa!

</body>
</html>
